<div>
    <md-card *ngIf="!checkEmail">
        <md-card-header>
            <md-card-title>
                Восстановить пароль
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="email" placeholder="Адрес электронной почты" class="form-control"
                               name="password"
                               [(ngModel)]="model.email" #password="ngModel"
                               required/>
                    </md-input-container>
                </div>
                <div>
                    <button md-button [disabled]="loading">Далее</button>
                </div>
            </form>
        </md-card-content>
    </md-card>
    <md-card *ngIf="checkEmail">Инструкция по восстановлению пароля была отправлена на указанный адрес электронной почты
    </md-card>
</div>
