{% load static %}
{% with "0.1.0" as version %}
    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>IGC lab 18.1</title>
        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link href="{% static 'ang/styles.bundle.css' %}?v{{ version }}" rel="stylesheet"/>
    </head>
    <body>
    <app-root>Загрузка...</app-root>
    <script type="text/javascript" src="{% static 'ang/inline.bundle.js' %}?v{{ version }}"></script>
    <script type="text/javascript" src="{% static 'ang/polyfills.bundle.js' %}?v{{ version }}"></script>
    <script type="text/javascript" src="{% static 'ang/vendor.bundle.js' %}?v{{ version }}"></script>
    <script type="text/javascript" src="{% static 'ang/main.bundle.js' %}?v{{ version }}"></script>
    </body>
    </html>
{% endwith %}