{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>IGC lab 18.1</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">


<link href="{% static 'ang/styles.bundle.css' %}" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
    <script type="text/javascript" src="{% static 'ang/inline.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/polyfills.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/vendor.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/main.bundle.js' %}"></script>
</body>
</html>
 