<md-toolbar color="primary">

    <button md-icon-button (click)="goToMainPage()"><md-icon>home</md-icon></button>
    <div  class="logo" (click)="goToMainPage()">IGC 18.1</div>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu">
        <md-icon>menu</md-icon>
    </button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
    <button md-menu-item *ngIf="!user" (click)="goToSigninPage()"> Регистрация</button>
    <button md-menu-item *ngIf="!user" (click)="goToLoginPage()"> Войти</button>
    <button md-menu-item *ngIf="user" (click)="logout()"> Выйти</button>
    <button md-menu-item *ngIf="user"> Настройки</button>
    <button md-menu-item> Помощь</button>
</md-menu>

<div class="app-component-viewer">
    <router-outlet></router-outlet>
</div>
