<md-card>
    <md-card-header>Регистрация пользователя</md-card-header>
    <md-card-content>
        <form name="form" (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
            <div class="group">
                <md-input-container>
                    <input mdInput type="text" placeholder="Имя пользователя" name="username"
                           [(ngModel)]="model.username" #username="ngModel"
                           required/>
                </md-input-container>
            </div>
            <div class="group">
                <md-input-container>
                    <input mdInput type="email" placeholder="Адрес электронной почты" class="form-control"
                           name="password"
                           [(ngModel)]="model.email" #password="ngModel"
                           required/>
                </md-input-container>
            </div>
            <div class="group">
                <md-input-container>
                    <input mdInput type="password" placeholder="Пароль" class="form-control" name="password"
                           [(ngModel)]="model.password" #password="ngModel"
                           required/>
                </md-input-container>
            </div>
            <div>
                <button md-button [disabled]="loading">Далее</button>
            </div>
        </form>
    </md-card-content>
</md-card>
