<md-card>
    <md-card-header>Введите новый пароль</md-card-header>
    <md-card-content>
        <form name="form" (ngSubmit)="f.form.valid && confirm()" #f="ngForm" novalidate>
            <div class="group">
                <md-input-container>
                    <input mdInput type="password" placeholder="Пароль" class="form-control" name="password"
                           [(ngModel)]="model.new_password" #password="ngModel"
                           required/>
                </md-input-container>
            </div>
            <div>
                <button md-button [disabled]="loading">Далее</button>
            </div>
        </form>
    </md-card-content>
</md-card>
