<div *ngIf='fellow' xmlns="http://www.w3.org/1999/html">
    <md-card class="example-card" *ngIf="!editMode">
        <md-card-header>
            <md-card-title>
                <h3>
                    <a *ngIf="user && fellow.user.id == user.id" class="fr edit-link"
                       routerLink="/fellow/edit/{{ fellow.slug }}">
                        Редактировать
                    </a>
                    Основная информация
                </h3>
            </md-card-title>

        </md-card-header>
        <md-card-content>
            <div *ngFor="let modelFields of fields">
                <div class="model-field-block">
                    <div *ngFor="let field of modelFields.fields">
                        <div *ngIf="field.value" fxLayout="row"
                         fxLayoutAlign="space-between center"
                         class="fellows-info__row">
                            <div fxFlex="40%">{{ field.title }}</div>
                            <div fxFlex="60%">
                                {{ field.value }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </md-card-content>
    </md-card>

    <md-card class="example-card" *ngIf="editMode">
        <md-card-header>
            <md-card-title>
                <h3>Редактирование учётной записи</h3>
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <form name="form" novalidate>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Имя" name="first_name"
                               [(ngModel)]="newFellow.user.first_name" required/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Фамилия" name="last_name"
                               [(ngModel)]="newFellow.user.last_name" required/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Отчество" name="midle_name"
                               [(ngModel)]="newFellow.user.midle_name"/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Должность" name="post"
                               [(ngModel)]="newFellow.post"/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Учёная степень" name="post_sci"
                               [(ngModel)]="newFellow.post_sci"/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="text" placeholder="Учёное звание" name="post_academy"
                               [(ngModel)]="newFellow.post_academy"/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <input mdInput type="tel" placeholder="Номер телефлна" name="phone"
                               [(ngModel)]="newFellow.phone"/>
                    </md-input-container>
                </div>
                <div class="group">
                    <md-input-container>
                        <textarea mdInput type="text" placeholder="Биография" name="vita"
                                  [(ngModel)]="newFellow.vita"></textarea>
                    </md-input-container>
                </div>
            </form>
        </md-card-content>
        <md-card-actions>
            <button md-button *ngIf="editMode && user && fellow.user.id == user.id" (click)="save()">
                Сохранить
            </button>
            <button md-button *ngIf="editMode && user && fellow.user.id == user.id" (click)="cancel()">
                Отменить
            </button>
        </md-card-actions>
    </md-card>


    <md-card class="example-card" *ngIf="!editMode">
        <md-card-header>
            <md-card-title>
                <h3>
                    Публикации <span *ngIf="fellow.publications">({{ fellow.publications.length }})</span>
                </h3>
            </md-card-title>

        </md-card-header>
        <md-card-content>
            <div *ngIf="fellow.publications && fellow.publications.length">
                <md-list>
                    <md-list-item *ngFor="let publication of fellow.publications">
                        <div *ngIf="user && fellow.user.id == user.id">
                            <button md-icon-button [mdMenuTriggerFor]="menu">
                                <md-icon>more_vert</md-icon>
                            </button>
                            <md-menu #menu="mdMenu">
                                <button md-menu-item (click)="removePublication(publication.pk)">Удалить</button>
                            </md-menu>
                        </div>
                        {{ publication.bibliography }}
                    </md-list-item>
                </md-list>
            </div>
            <div *ngIf="newPublication">
                <md-input-container *ngIf="user && fellow.user.id == user.id" class="publications-textarea">
                    <textarea mdInput type="text" placeholder="Библиографичесая ссылка"
                              [(ngModel)]="newPublication.bibliography"></textarea>
                </md-input-container>
                <button md-icon-button *ngIf="user && fellow.user.id == user.id"
                        (click)="addPublication()">
                    <md-icon>add</md-icon>
                </button>
            </div>
        </md-card-content>
    </md-card>

</div>
